/* css properly is here */

.Header img{
    height:80px;
    
}
.Header{
    text-align:center
}
.Header nav {

    background-color:black;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    color:white;
    text-decoration:none;
    padding:5px;
    margin-right:20px
}
nav a:hover{
    background-color:gray
}